db.url=jdbc:postgresql://localhost:5432/GameEvents
db.user=your_user
db.password=your_password

s3.access_key=your_access_key
s3.secret_key=your_secret_key
s3.endpoint=https://storage.yandexcloud.net
s3.region=ru-central1
